# Intellij
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
*.iws
.idea/sonarlint

#build directories and files
build/

#user local packages
node_modules

# package-lock.json locks dependencies to a specific version
# we allow only patch updates that should not break anything and we also do not include dependency binaries
package-lock.json

#database files
database/**/*