<div class="heart-container">
    <img class="product-picture" src="http://localhost:3010/media/images/heart.png">
</div>

<div class="product-picture-container no-padding product-fitter" align="center">
    <a (click)="selectCampaign()">
        <!-- PRODUCT SINGLE -->
        <div class="" width="300" height="300" align="center">
            <div class="product-item mb-0">
                <div class="product-item-thumbnail text-center mb-0 no-radius" width="300" height="300">
                    <img class="product-list-primary-img productImg" alt="product image" width="300" height="300"
                         [attr.src]="imageSrc"/>
                    <div class="product-item-thumbnail-overlay product-item-thumbnail-overlay-with-bg product-item-thumbnail-overlay-medium">
                        <span class="product-item-thumbnail-label"><img id="main-logo"
                                                                        src="http://localhost:3010/media/images/logo.png"
                                                                        width="15" height="15"></span>
                        <a class="product-item-thumbnail-link"></a>
                        <div class="row text-center">
                            <div class="col-xs-12 text-center mb-30">
                                <a class="h5">{{ campaign.title }}</a>
                            </div>
                        </div>
                        <a href="#" class="btn btn-default follower-coloring">Minimum Followers {{
                            campaign.requiredNumberOfFollowers }} <span class="glyphicon glyphicon-heart"></span></a>
                        <a href="#" class="btn btn-primary">Edit Campaign</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- / PRODUCT SINGLE-->
    </a>
</div>
<!--/div-->
<div class="heart-container">
    <img class="product-picture" src="http://localhost:3010/media/images/heart.png">
</div>