<div id="Dropdown" class="collapse">
    <div class="row">
        <div class="col">
            <form id="dropdown-form">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Name" readonly>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="address" placeholder="Address">
                </div>
                <input type="submit" value="Save"/>
            </form>
        </div>
        <div class="col">
            <form id="agreement">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat,
                    sed diam voluptua.
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                    takimata sanctus </p>
                <label for="one">I accept the Terms of the Service here</label><input id="one" type="checkbox">
            </form>
            <button type="submit">
                Submit
            </button>
        </div>
    </div>