<app-header-company></app-header-company>
<div class="container-fluid" style="padding: 7%; padding-top: 10%">
    <div class="row justify-content-between">

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" id="detailsDiv">
            <img id="productPicture" class="campany-detail-prod-image"
                 [src]="productPicture">

            <div class="campany-detail-campaign-data">
                <form>
                    <div class="campany-detail-campaign-details">
                        <h5>Campaign Title</h5>
                        <p>{{ campaign.title }}</p>
                    </div>

                    <div class="campany-detail-campaign-details">
                        <h5>Campaign Description</h5>
                        <p> {{ campaign.description }} </p>
                    </div>

                    <div class="campany-detail-campaign-details">
                        <h5>Required Number of Followers</h5>
                        <p>{{ campaign.requiredNumberOfFollowers }}</p>
                    </div>

                    <div class="campany-detail-campaign-details">
                        <h5>Hashtags Required For This Campaign</h5>
                        <p>{{ campaign.enforcedHashTags }}</p>
                    </div>

                    <div class="campany-detail-campaign-details">
                        <h5>Categories</h5>
                        <p>{{ campaign.categories }}</p>
                    </div>
                </form>
            </div>
            <button class="btn btn-primary" (click)="deleteCampaign()">Delete</button>
        </div>


        <div class="col-md-5 col-lg-5 col-xl-5" id="influencerDiv">
            <div class="campany-detail-requests-area" >
                <application *ngFor="let request of requests" [request]="request"></application>
            </div>
        </div>


    </div>
</div>
