<div class="container-fluid main-styling">

    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <img class="status-page-influencer-profile-img" src="http://localhost:3010/media/images/alex.jpg">
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">

        </div>
    </div>

    <div class="row" style="padding-top: 20%">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <img class="status-page-feed-img" src="https://s-media-cache-ak0.pinimg.com/originals/74/dd/f6/74ddf6f5d11dc514d1c616e6cf94125b.png">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <img class="status-page-feed-img" src="https://s-media-cache-ak0.pinimg.com/originals/74/dd/f6/74ddf6f5d11dc514d1c616e6cf94125b.png">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <img class="status-page-feed-img" src="https://s-media-cache-ak0.pinimg.com/originals/74/dd/f6/74ddf6f5d11dc514d1c616e6cf94125b.png">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <img class="status-page-feed-img" src="https://s-media-cache-ak0.pinimg.com/originals/74/dd/f6/74ddf6f5d11dc514d1c616e6cf94125b.png">
        </div>
    </div>

    <div class="row justify-content-between" style="padding-top: 8%">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
            <button class="btn btn-danger btn-block">Decline</button>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
            <button class="btn btn-success btn-block">Accept</button>
        </div>
    </div>
</div>

