#login-button{
    border: #1f26ff solid thin;
    background-color: #1f26ff;
    color: white;
    border-radius: 20px;
    font-size: 1.6em;
    font-weight: 600;
    float: right;
    padding: 7px;
}