.campany-detail-influencer-profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.acceptBackground {
    border-radius: 50%;
    padding: 3%;
    width: 68px;
    transform: translateX(50%);
}

.green {
	background: rgba(56, 197, 56, 0.68);
}

.red{
	background: rgba(197, 82, 56, 0.68);
}

.transparent{
	background: transparent;
}


.rejectBackground {
    background: lightpink;
    border-radius: 50%;
}

.set-padding{
    padding-right: 0px;
    padding: 10px;
}

.center {
  position: relative;
  transform: translateY(75%);
}

.center-button{
	transform: translateY(35%);
}

