 <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-2 offer-list-item">
     <a href="javascript:void(0)" (click)="toggle_visibility('popupBoxOnePosition');">
     <div class="product-picture-container">
            <img class="product-picture" [attr.src]="imageSrc"/>
        </div>
     </a>
    </div>
    <div class="heart-container">
        <img class="product-picture" src="http://localhost:3010/media/images/heart.png">
    </div>


 <div id="popupBoxOnePosition" onload="getting()">
    <div class="popupBoxWrapper">
        <div class="floatwrapper">
            <a href="javascript:void(0)" id ="close" (click)="toggle_visibility('popupBoxOnePosition');"><i class="fa fa-times" aria-hidden="true"></i></a>

            <div class="popupBoxContentPic">
                <img class="product-picture" [attr.src]="imageSrc"/>
            </div>
            <div class="popupBoxContentText">
                <div class="productName">
                    <h3>Product name</h3>
                </div>
                <div class="productcontent" id="productcontent">
                    <script>getting();</script>
                </div>

            </div>
            <div class="buttonwrap">
                <div class="buttonwrap2">
                    <div class="get">
                        <button class="button" (click)="getting()">Get </button>
                    </div>
                    <div class="give">
                        <button class="button" (click)="giving()">Give</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
