
.offer-list-item{
    padding-right:5px;
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    position: relative;
    /*width: */
}
.product-picture-container{
}

.product-picture {
    width: 20em;
    height:20em;
}

.heart-container{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
}
.heart-container img{
    height: 30px;
    width: 30px;
}
