<div class="product-picture-container no-padding product-fitter" align="center">
    <a (click)="addCampaign()">
        <div align="center">
            <div class="product-item mb-0">
                <div class="product-item-thumbnail text-center mb-0 no-radius">
                    <img class="product-list-primary-img productImg"
                         src="http://localhost:3010/media/images/plus-symbol.png" alt="product image" width="300"
                         height="300">
                    <div class="product-item-thumbnail-overlay product-item-thumbnail-overlay-with-bg product-item-thumbnail-overlay-medium"></div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="heart-container">
    <img class="product-picture" src="http://localhost:3010/media/images/heart.png">
</div>
