<div class="container-fluid">
    <div class="row" id="slider">
        <div class="col">
            <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400/000/fff?text=1" alt="slide 1">
        </div>

        <div class="col">
            <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400/000/fff?text=2" alt="slide 1">
        </div>

        <div class="col">
            <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400/000/fff?text=3" alt="slide 1">
        </div>

        <div class="col">
            <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400/000/fff?text=4" alt="slide 1">
        </div>
        <div class="col">
            <img class="img-fluid mx-auto d-block" src="//placehold.it/600x400/000/fff?text=5" alt="slide 1">
        </div>

    </div>

    <button id="next">Next</button>
    <button id="last">Last</button>
</div>