<div id="menu-slider-container">
    <div class="container-fluid">

        <div class="row no-gutters">
            <div class="col-sm-1">

                <button class="slider-control" id="last"><i class="fa fa-angle-left" aria-hidden="true"></i>

                </button>
            </div>

            <div class="col-sm-10">
                <div class="row no-gutters" id="slider">

                    <div class="col menu-item">
                        <div class="menu-item-container">
                            <div class="contentwrapper active-menu">
                                <div class="menu-item-picture-container">
                                    <img class="menu-item-picture" style="height: 30px;width:27px; padding-top:5px; "
                                         src="http://localhost:3010/media/images/menu/new.png"
                                         alt="new">
                                </div>
                                <span>NEW</span>
                            </div>
                        </div>
                    </div>

                    <!--div class="col menu-item">
                        <div class="menu-item-container ">
                            <div class="contentwrapper">
                                <div class="menu-item-picture-container">
                                    <img class="menu-item-picture" style="height: 30px;width:27px; padding-top:5px; "
                                         src="http://localhost:3010/media/images/menu/heart.png"
                                         alt="heart">
                                </div>
                                <span>MY HEARTS</span>
                            </div>
                        </div>
                    </div-->

                    <div class="col menu-item">
                        <div class="menu-item-container">
                            <div class="contentwrapper">
                                <div class="menu-item-picture-container">
                                    <img class="menu-item-picture" style="height: 30px;width:20px; padding-top:5px; "
                                         src="http://localhost:3010/media/images/menu/my_area.png"
                                         alt="my area">
                                </div>
                                <span>MY AREA</span>
                            </div>
                        </div>
                    </div>

                    <div class="col menu-item">
                        <div class="menu-item-container">
                            <div class="contentwrapper">
                                <div class="menu-item-picture-container">
                                    <img class="menu-item-picture" style="height: 29px;width:28px; padding-top:5px; "
                                         src="http://localhost:3010/media/images/menu/jewelry.png"
                                         alt="jewelry">
                                </div>
                                <span>JEWELRY</span>
                            </div>
                        </div>
                    </div>

                    <div class="col menu-item">
                        <div class="menu-item-container">
                            <div class="contentwrapper">
                                <div class="menu-item-picture-container">
                                    <img class="menu-item-picture" style="height: 29px;width:32px; padding-top:5px; "
                                         src="http://localhost:3010/media/images/menu/fitness.png"
                                         alt="fitness">
                                </div>
                                <span>FITNESS</span>
                            </div>
                        </div>
                    </div>

                    <div class="col menu-item">
                        <div class="menu-item-container">
                            <div class="contentwrapper">
                                <div class="menu-item-picture-container">
                                    <img class="menu-item-picture" style="height: 32px;width:27px; padding-top:7px; "
                                         src="http://localhost:3010/media/images/menu/beauty.png"
                                         alt="beauty">
                                </div>
                                <span>BEAUTY</span>
                            </div>
                        </div>
                    </div>

                    <div class="col menu-item">
                        <div class="menu-item-container">
                            <div class="contentwrapper">
                                <div class="menu-item-picture-container">
                                    <img class="menu-item-picture" style="height: 34px;width:27px; padding-top:5px; "
                                         src="http://localhost:3010/media/images/menu/clothes.png"
                                         alt="clothes">
                                </div>
                                <span>CLOTHES</span>
                            </div>
                        </div>
                    </div>

                    <div class="col menu-item">
                        <div class="menu-item-container">
                            <div class="contentwrapper">
                                <div class="menu-item-picture-container">
                                    <img class="menu-item-picture"
                                         src="http://localhost:3010/media/images/menu/accessory.png"
                                         style="height: 28px;width:35px; padding-top:12px; " alt="accessory">
                                </div>
                                <span>ACCESSORY</span>
                            </div>
                        </div>
                    </div>

                    <div class="col menu-item">
                        <div class="menu-item-container">
                            <div class="contentwrapper">
                                <div class="menu-item-picture-container">
                                    <img class="menu-item-picture"
                                         src="http://localhost:3010/media/images/menu/others.png"
                                         style="height: 30px;width:20px; padding-top:5px; "
                                         alt="other">
                                </div>
                                <span>OTHER</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-1">
                <button class="slider-control" id="next"><i class="fa fa-angle-right" aria-hidden="true"></i>

                </button>
            </div>
        </div>
    </div>
    <drop-down></drop-down>
</div>