<div id="campaign-list-container" class="container-fluid offer-grid">
<a class="btn" href="http://localhost:4200/app-campany-page">Go To: CampanyPage </a>
    <div class="row no-gutters" style="padding: 0">

    </div>
</div>

<body>
    <div class="container container-adapt">
                <form class="form-horizontal" role="form" action="http://localhost:4200/app-campany-page">
                    <img class="profile-img" src="http://localhost:3010/media/images/logo.png"
                                alt="">
                    <div class="center">
                    <div class="form-group">
                        <div class="col-sm-9 set-size">
                            <input type="text" id="firstName" placeholder="Full Name" class="form-control" required autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 set-size">
                            <input type="email" id="email" placeholder="Email" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 set-size">
                            <input type="password" id="password" placeholder="Password" class="form-control" required>
                        </div>
                    </div>
                      <div class="form-group">
                        <div class="col-sm-9 set-size">
                            <input type="password" id="password" placeholder="Confim Password" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 set-size">
                            <select id="country" class="form-control">
                                <option>Germany</option>
                                <option>Austria</option>
                                <option>France</option>
                                <option>Denmark</option>
                                <option>Great Britain</option>
                                <option>USA</option>
                                <option>Switzerland</option>
                                <option>Netherlands</option>
                            </select>
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group">
                        <div class="col-sm-9 set-size">
                            <input type="" id="password" placeholder="Zip Code" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 set-size">
                            <input type="" id="password" placeholder="Town" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 set-size">
                            <input type="" id="password" placeholder="Street" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6">Account Status</label>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="radio-inline">
                                        <input type="radio" id="femaleRadio" value="Trial"> Trial
                                    </label>
                                </div>
                                <div class="col-sm-12">
                                    <label class="radio-inline">
                                        <input type="radio" id="maleRadio" value="Professional"> Professional
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3 set-size">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" required> I accept the <a class="terms" href="#">terms and conditions</a>
                                </label>
                            </div>
                        </div>
                    </div> <!-- /.form-group -->
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3 set-size">
                            <button type="submit" class="btn btn-primary btn-block btn-sign-in">Register</button>
                        </div>
                    </div>
                    </div>
                </form> <!-- /form -->
    </div> <!-- ./container -->
</body>