<div id="campaign-list-container" class="container-fluid offer-grid">
<a class="btn" href="http://localhost:4200/app-campany-page">Go To: CampanyPage </a>
    <div class="row no-gutters" style="padding: 0">

    </div>
</div>

<body>




<div class="container">
            <form class="form-horizontal" role="form">
                <h2>Registration Form</h2>
                <div class="center">
                <div class="form-group">
                    <label for="firstName" class="col-sm-6 control-label">Company Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName" placeholder="Full Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-6 control-label">Email Address</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-6 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                  <div class="form-group">
                    <label for="password" class="col-sm-6 control-label">Confirm Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-6 control-label">Country</label>
                    <div class="col-sm-9">
                        <select id="country" class="form-control">
                            <option>Germany</option>
                            <option>Austria</option>
                            <option>France</option>
                            <option>Denmark</option>
                            <option>Great Britain</option>
                            <option>USA</option>
                            <option>Switzerland</option>
                            <option>Netherlands</option>
                        </select>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <label for="password" class="col-sm-6 control-label">Postal Code</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Postal Code" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-6 control-label">Town Name</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Town" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-6 control-label">Street</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Street" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-6">Account Status</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="radio-inline">
                                    <input type="radio" id="femaleRadio" value="Female"> Trial
                                </label>
                            </div>
                            <div class="col-sm-12">
                                <label class="radio-inline">
                                    <input type="radio" id="maleRadio" value="Male"> Professional
                                </label>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> I accept the <a href="#">terms and conditions</a>
                            </label>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
                </div>
            </form> <!-- /form -->
</div> <!-- ./container -->
</body>