<app-header></app-header>
<div id="campaign-list-container" class="container-fluid offer-grid">
    <a class="btn" href="http://localhost:4200/app-campany-page">Go To: CampanyPage </a>
    <div class="row no-gutters" style="padding: 0">

    </div>
</div>

<li *ngFor="let company of companies">{{company.email}}</li>
<div class="container container-adapt">
    <form (ngSubmit)="performRegistration()" class="form-horizontal"
          role="form" action="http://localhost:4200/app-campany-page" #registerForm="ngForm">
        <img class="profile-img" src="http://localhost:3010/media/images/logo.png"
             alt="">
        <div class="center">
            <div class="form-group">
                <div class="col-sm-9 set-size">
                    <input type="text" id="firstName" placeholder="Company Name" class="form-control" required autofocus
                           [(ngModel)]="formData.name" name="companyName" #companyName="ngModel">
                    <div [hidden]="companyName.valid || companyName.pristine" class="alert alert-danger">
                        Please enter the name of your company.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 set-size">
                    <input type="email" id="email" placeholder="Email" class="form-control" required
                           [(ngModel)]="formData.email" name="email" #email="ngModel">
                    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                        Please enter your email address.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 set-size">
                    <input type="password" id="password" placeholder="Password" class="form-control" required
                           [(ngModel)]="formData.password" name="password" #password="ngModel">
                    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                        Please enter a password.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 set-size">
                    <select id="country" class="form-control">
                        <option>Germany</option>
                        <option>Austria</option>
                        <option>France</option>
                        <option>Denmark</option>
                        <option>Great Britain</option>
                        <option>USA</option>
                        <option>Switzerland</option>
                        <option>Netherlands</option>
                    </select>
                </div>
            </div> <!-- /.form-group -->
            <div class="form-group">
                <div class="col-sm-9 set-size">
                    <input type="text" id="address" placeholder="Address" class="form-control" required
                           [(ngModel)]="formData.address" name="address" #address="ngModel">
                    <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
                        Please enter your Address.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-6"><b>Prefered Form of Payment</b></label>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="radio-inline">
                                <input type="radio" value="payment" name="payment"> Credit Card
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <label class="radio-inline">
                                <input type="radio" value="payment" name="payment"> SEPA Direct Debit
                                Scheme
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <label class="radio-inline">
                                <input type="radio" value="payment" name="payment"> PayPal
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <label class="radio-inline">
                                <input type="radio" value="payment" name="payment" checked> Ask me later
                            </label>
                        </div>
                    </div>
                </div>
            </div> <!-- /.form-group -->
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3 set-size">
                    <div class="checkbox">
                        <label>
                            <input [(ngModel)]="formData.terms" name="terms" type="checkbox" #terms="ngModel" required>
                            <b> I accept the </b> <a class="terms" href="#" onclick="return false" required>
                            <b>terms and conditions</b></a>
                        </label>
                    </div>
                    <div [hidden]="terms.valid || terms.pristine" class="alert alert-danger">
                        Please accept the terms and conditions
                    </div>
                </div>
            </div> <!-- /.form-group -->
            <div class="form-error" *ngIf="registerErrorMessage">{{registerErrorMessage}}</div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3 set-size">
                    <button type="submit" class="btn btn-primary btn-block btn-sign-in"
                            [disabled]="!registerForm.form.valid">Register
                    </button>
                </div>
            </div>
        </div>
    </form> <!-- /form -->
</div> <!-- ./container -->
