<nav id="navbar">
    <div class="container-fluid">
        <div class="navbar-header row justify-content-between">

            <div class="col-md-2 left-sided-container">
                <div class="logo-container">
                    <a href="/categories/0" >
                    <img id="main-logo" src="http://localhost:3010/media/images/logo.png"/>
                    </a>
                </div>
            </div>

            <div class="right-sided-container">


                <div class="user-picture">
                <a id="dropdownLink" href="#Dropdown" class="btn btn-default btn-profile-img" data-toggle="collapse">
                    <img id="influncerProfilPicture" src="http://localhost:3010/media/images/menu/default-avatar.jpg"></a>
                </div>

                <div class="heartplus" id="heartplus">
                    <a href="/categories/1" >
                        <img class="heart-icon" src="http://localhost:3010/media/images/menu/like-add-button-heart-symbol.svg" alt="heart">
                    </a>
                </div>
            </div>
        </div>

    </div>
</nav>


