<nav id="navbar">
    <div class="container-fluid">
        <div class="navbar-header row justify-content-between">
            <div class="col-md-2 left-sided-container">
                <div class="logo-container">
                    <img id="main-logo" src="http://localhost:3010/media/images/logo.png"/>
                </div>
                <div class="beetoobee-container">
                    <span></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="user-picture">
                <a href="/categories/1" >
                    <img class="heart-icon" src="http://localhost:3010/media/images/menu/heart.png" alt="heart">
                </a>
                </div>
                <!--span>MY HEARTS</span-->
                <div class="user-picture">
                <a href="#" >
                    <img class="request-icon" src="http://localhost:3010/media/images/round.png" alt="heart">
                </a>
                </div>
                <div class="user-picture">
                <a id="dropdownLink" href="#Dropdown" class="btn btn-default btn-profile-img" data-toggle="collapse">
                    <img id="influncerProfilPicture" src="http://localhost:3010/media/images/alex.jpg"></a>
                </div>            
            </div>
        </div>

    </div>
</nav>


