
.navbar {
    border: none;

}

.navbar-inverse {
    background: linear-gradient(-90deg, #0065C1,#00C3CD);
    margin-bottom: 60px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}



.btn {
    float: right;
    margin-right: 4em;
}

.btn-danger {
    background-color: #005D9B ;
    border-color: white;
}


