<nav id="navbar">
    <div class="container-fluid">
        <div class="navbar-header row justify-content-between">
            <div class="col-sm-2 left-sided-container">
                <div class="logo-container">
                    <img id="main-logo" src="http://localhost:3010/media/images/logo.png"/>
                </div>
                <div class="beetoobee-container">
                    <span>BeeTooBee</span>
                </div>
            </div>

            <div class="col-md-1">
                <div>
                    image
                </div>
                <div>mail</div>
            </div>
        </div>

    </div>
</nav>


