<app-header-company></app-header-company>
<html>
<body>
<div class="wrapper">
    <div class="contentBox">
        <div class="row">
            <div class=".col-12 col-sm-4 .col-md-4 .col-lg-4 .col-xl-4">
                <div class="boxContentPic">
                    <div class="boxPic">
                        <!--<button class="addButton"><i class="fa fa-plus" aria-hidden="true"></i>

                        </button>-->
                        <input type="file" ng2FileSelect [uploader]="upload" name="single" id="picture"/>
                    </div>
                    <button class="button" (click)="createCampaign()">Publish</button>
                </div>
            </div>
            <div class=".col-12 col-sm-8 .col-md-8 .col-lg-8 .col-xl-8">
                <div class="boxContentText">
                    <div class="boxContentTextWrapper">
                        <form (ngSubmit)="createCampaign()">
                            Title: <br><input [(ngModel)]="formData.title" type="text" name="title"><br><br>
                            Required Follower: <br><input [(ngModel)]="formData.followers" type="text"
                                                          name="requiredFollower"><br><br>
                            Amount: <br><input type="text" [(ngModel)]="formData.amount" name="amount"><br><br>
                            Short Description: <br><input [(ngModel)]="formData.description" type="text"
                                                          name="description"><br><br>
                            End Date: <br><input [(ngModel)]="formData.endDate" type="date" name="endDate"><br><br>
                            Hashtags: <br><input [(ngModel)]="formData.hashTags" type="text" name="hashTags"><br><br>
                            Categories: <br>
                            <select [(ngModel)]="formData.categories" name="categories" multiple>
                                <option *ngFor="let category of selectableCategories"  value="{{category}}">{{category}}</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>