<app-header-company></app-header-company>
<html>
<body>
<div class="wrapper">
    <div class="contentBox">
        <div class="row">
            <div class=".col-12 col-sm-4 .col-md-4 .col-lg-4 .col-xl-4">
                <div class="boxContentPic">
                    <div class="boxPic">
                        <button class="addButton"><i class="fa fa-plus" aria-hidden="true"></i>

                        </button>
                    </div>
                    <button class="button">Publish</button>
                </div>
            </div>
            <div class=".col-12 col-sm-8 .col-md-8 .col-lg-8 .col-xl-8">
                <div class="boxContentText">
                    <div class="boxContentTextWrapper">
                        <form>
                            Title: <br><input type="text" name="requiredFollower"><br><br>
                            Required Follower: <br><input type="text" name="requiredFollower"><br><br>
                            Amount: <br><input type="text" name="requiredFollower"><br><br>
                            Short Description: <br><input type="text" name="lastname"><br><br>
                            End Date: <br><input type="date" name="lastname"><br><br>
                            Hashtags: <br><input type="text" name="lastname"><br><br>
                            Categories: <br><input type="text" name="lastname"><br><br>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>