<app-header-company></app-header-company>


<div class="container container-adapt">
    <form (ngSubmit)="createCampaign()" class="form-horizontal" role="form" #registerForm="ngForm">
        <h5 class="text-center header-style">Add a new Campaign</h5>
        <div class="center">
            <div class="form-group">
                <div class="col-sm-9 set-size">
                    <input [(ngModel)]="formData.title" class="form-control" id="title" placeholder="Campaign Title"
                           type="text" name="title" #title="ngModel" required>
                    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                        Please enter a title for your campaign.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 set-size">
                    <input type="number" id="requiredFollower" placeholder="Required number of Follower"
                           class="form-control" required
                           [(ngModel)]="formData.followers" name="requiredFollower"
                           #requiredFollower="ngModel">
                    <div [hidden]="requiredFollower.valid || requiredFollower.pristine" class="alert alert-danger">
                        Please enter how many followers the Influencer should have.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 set-size">
                    <input type="number" id="amount" placeholder="Quantity" class="form-control" required
                           [(ngModel)]="formData.amount" name="amount" #amount="ngModel">
                    <div [hidden]="amount.valid || amount.pristine" class="alert alert-danger">
                        Please enter the the amount of products you are offering.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 set-size">
                    <input type="text" id="description" placeholder="Campaign description" class="form-control" required
                           [(ngModel)]="formData.description" name="description" #description="ngModel">
                    <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                        Please add a description.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 set-size">
                    <input type="text" id="hashTags" placeholder="Required Hashtags" class="form-control" required
                           [(ngModel)]="formData.hashTags" name="hashTags" #hashTags="ngModel">
                    <div [hidden]="hashTags.valid || hashTags.pristine" class="alert alert-danger">
                        Please enter at least one hashtag, that the influencer has to include in the promotion.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 set-size">
                    <select [(ngModel)]="formData.categories" name="categories" class="form-control" multiple required>
                        <option *ngFor="let category of selectableCategories" value="{{category}}">{{category}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 set-size">
                    <input class="center-format" type="file" ng2FileSelect [uploader]="upload" name="single"
                           id="picture"/>
                </div>
            </div>
            <div class="form-error" *ngIf="errorMessage">
                <div class="col-sm-9 set-size">
                    {{errorMessage}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3 set-size">
                    <button type="submit" class="btn btn-primary btn-block btn-sign-in"
                            [disabled]="!registerForm.form.valid">Create new Product
                    </button>
                </div>
            </div>
        </div>
    </form> <!-- /form -->
</div> <!-- ./container -->

<app-footer></app-footer>