<nav id="navbar">
    <div class="container-fluid">
        <div class="navbar-header row justify-content-between">
            <div class="col-md-2 left-sided-container">
                <div class="logo-container">
                    <a href="/campany" >
                    <img id="main-logo" src="http://localhost:3010/media/images/logo.png"/>
                    </a>
                </div>
                <div class="beetoobee-container">
                    <span></span>
                </div>
            </div>

        </div>

    </div>
</nav>


