<html>
    <head>
    </head>
    <body>
        <div id="campaign-list-container" class="container-fluid offer-grid">
        <a class="btn" href="http://localhost:4200/app-campany-page">Go To: CampanyPage </a>
            <div class="row no-gutters" style="padding: 0">

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4 center">
                    <h1 class="text-center login-title"></h1>
                    <div class="account-wall">
                        <img class="profile-img" src="http://localhost:3010/media/images/logo.png"
                            alt=""> hier
                        <li *ngFor="let company of companies">{{company.uuid}}Hier</li>
                        <form class="form-signin">
                        <input #emailBox (keyup.enter)="checkData(emailBox.email,passwordBox.password)" type="text" class="form-control" placeholder="Email" required autofocus>
                        <input #passwordBox (keyup.enter)="checkData(emailBox.email,passwordBox.password)" type="password" class="form-control" placeholder="Password" required>
                        <button (click)="checkData(emailBox.email,passwordBox.password)" class="btn btn-lg btn-primary btn-block btn-sign-in" type="submit">
                            Sign in</button>
                        <label class="checkbox pull-left">
                            <input type="checkbox" value="remember-me">
                            Remember me
                        </label>
                        <!--<a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>-->
                        </form>
                    </div>
                    <a href="http://localhost:4200/app-company-register-page" class="text-center new-account">Create an account </a>
                </div>
            </div>
        </div>
    </body>
</html>


    